*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid royalblue;
    margin-top: 30px;
}


.paragraph{
    margin: 20px;
}


footer{
    margin-top: 30px;
    text-align: center;
    background-color: #222;
    padding: 30px;
    color: #fff;
}